
      body{
        font-size: 25px;
        margin:0px;
        padding: 0px;
        
    }
    .header{
      justify-content:space-between;
      display:flex;
        margin : 5px 90px 10px 100px;  
      }
      nav{
        display:flex;
      }
      li{
        list-style-type:none;
        padding:15px;
        float: right;  
      }
      .col-container {
    display: flex;
        
  } 
      .colone {
     width:45%;
    padding: 100px;
  }
     .colone h1{
         font-size: 60px;
     }
      .readmore{
          
    border-radius:40px;
    background: rgb(43, 41, 41);
    padding : 10px 25px;
    
    font-size: 20px;
    text-align: center;
    color:rgba(245, 241, 241, 0.945);
  
      }
      .readmore:hover{
        box-shadow: 1px 1px 3px 3px grey;
      }
      .coltwo {
    width:38%;
    padding: 10px;
    margin-top: 50px;
  
  }
  
  
      
      .sectionone{
          
          position: relative;
          font-size: 25px;
          font-family: Arial, Helvetica, sans-serif;
  
          }
          .sectionone h1{
              font-size: 70px;
          }
          .sectionone h4{
              font-size: px;
          }
          .sectionone p{
              font-size: 23px;
          }
      .centered{
         
          position: absolute;
          text-align: center;
          color: white;
          top:15%;
          left:20%;
          right: 20%;
         
      }
      .centered p{
        line-height: 50px;
      }
      .backgrdimg{
    width:100%;
    height:700px;
    background-size: cover;
    background-position:bottom ;
   
    background-image: linear-gradient( rgba(2, 2, 2,0.71), rgba(3, 3, 3,0.71)),url( "headphone2.jpg");
  }
  .container{
              display: grid;
              grid-template-columns: 40% 40% 20%;
              width: 100%;
              grid-column-gap: 0px;
              margin-bottom: -7px;
              
          }
         .one img{
             width: 100%;
            background-size: cover;
            height: 640px;
          }
         .two  img{
            
             background-size: cover;
             width: 100%;
             height: 319px;
             
          }
         .three{
             background-size: cover;
             width: 100%;
             height: 315px;
          
           }
         .two1 img{
          background-size: cover;
          width: 49%;
          height: 315px;
        
          
         }

      .footer-container {
    display: flex;
        background-color: black;
        color: white;
     padding-left: 200px; 
     
      
  }  
  
  .footer-container p{
      font-size: 15px;
      color:lightgray;
      margin-top: 0px;
      
  }
     
      .footerone {
     width:18%;
    padding: 12px;
    
  }
  .footertwo {
     width:18%;
    padding: 12px;
  }
  .footerthree {
     width:18%;
    padding: 12px;
  }
  .footerfour {
     width:18%;
    padding: 12px;
  }
  .footemail{
    border: 1px solid;
  }
  .emailbt{  background-color: gray;
      border-radius: 40px;
      border-bottom:grey;
      border-right: 25px solid white;
      width: 200px;
      padding: 10px;
      padding-left: 10px;
      text-align: left;
      color: rgb(78, 76, 76);
  
  }
  @media screen and (max-width:900px){
    .coltwo{
      width:38%;
      margin-left: 300px;
    }
  }